*{
    padding: 0;
    margin: 0;
}
.section-one{
    background-color: black;
    color: white;
    text-align: center;
}

.card-1{
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 310px;
    border: solid black 2px;
    padding: 10px;
}
.card-1 h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-1 button{
    margin-top: 10px;
    padding: 5px;

}
.cards{
    text-align: center;
}

.contact-form{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 10px;
}
.contact-form table{
    display: inline-block;
    text-align: center;
}

.section-one__title{
    padding-top: 20px;
    padding-bottom: 10px;
}

.section-one__desc{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.form-input{
    padding: 5px;
}
.form-button{
    padding: 5px;
    border: none;
    border: solid red 2px;
    display: block;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    background-color: yellow;
}
.contact-form h1{
    padding-left: 2%;
}